<% include ../partials/header %>

    <div class="ui three ordered steps">
        <div id="ownerStep" class="active step">
            <div class="content">
                <div class="title">Add Owner</div>
            </div>
        </div>
        <div id="petStep" class="step">
            <div class="content">
                <div class="title">Add Pet</div>
            </div>
        </div>
        <div id="confirmStep" class="disabled step">
            <div class="content">
                <div class="title">Confirm Details</div>
            </div>
        </div>
    </div>
    <div id="buttonsContainer">
        <div id="newOrExisitngBtns" class="ui buttons">
            <button id="addExistingBtn" class="ui button">Existing Owner</button>
            <div class="or"></div>
            <button id="addNewBtn" class="ui positive button">Add New Owner</button>
        </div>
    </div>
    <form class="ui form" action="/register/patient" method="POST">
        <div id="existingOwnerForm" style="display:none">
            <div class="field">
                <label for="existingOwner">Owner</label>
                <input id="ownersDb" type="text" placeholder="Owner">
                <input id="owner-data" type="hidden" name="existingOwner">
            </div>
        </div>
        <div id="newOwnerForm">
            <div class="required field">
                <label>Name</label>
                <div class="two fields">
                    <div class="field">
                        <input type="text" name="owner[firstName]" placeholder="First Name">
                    </div>
                    <div class="field">
                        <input type="text" name="owner[lastName]" placeholder="Last Name">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Address</label>
                <div class="fields">
                    <div class="twelve wide field">
                        <input type="text" name="address[street]" placeholder="Street Address">
                    </div>
                    <div class="four wide field">
                        <input type="text" name="address[secondAddress]" placeholder="Apt #">
                    </div>
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label for="city">City</label>
                    <input type="text" name="address[city]" placeholder="City">
                </div>
                <div class="field">
                    <label>State</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" name="address[state]" placeholder="State">
                        <i class="dropdown icon"></i>
                        <div class="default text">State</div>
                        <div class="menu">
                            <% states.forEach(function(state){ %>
                                <div class="item" data-value="<%= state %>"><%= state %></div>
                            <% }); %>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label for="zipCode">Zip Code</label>
                    <input type="text" name="address[zipCode]" placeholder="Zip Code">
                </div>
                <div class="field">
                    <label>Country</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" name="address[country]" placeholder="Country">
                        <i class="dropdown icon"></i>
                        <div class="default text">Country</div>
                        <div class="menu">
                            <% countries.forEach(function(country){ %>
                                <div class="item" data-value="<%= country %>"><%= country %></div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="two fields">
                <div class="required field">
                    <label>Phone</label>
                    <input type="tel" name="owner[phone]" placeholder="Phone #">
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="email" name="owner[email]" placeholder="jane@doe.com">
                </div>
            </div>
        </div>
        <button class="ui right floated right labeled icon green button" type="submit">
            <i class="right arrow icon"></i>
            Add Pet
        </button>
    </form>

<script>
    $('.ui.dropdown').dropdown();
    // Autocomplete Owner Names
    var ownerOptions = {
        url: function(phrase) {
            return "/allOwnerNames";
        },
        getValue: "name",
        list: {
            onSelectItemEvent: function() {
                var ownerObject = $("#ownersDb").getSelectedItemData().owner;
                $("#owner-data").val(JSON.stringify(ownerObject)).trigger("change");
            },
            match: {
                enabled: true
            }
        }
    };

    $("#ownersDb").easyAutocomplete(ownerOptions);
    $('div.easy-autocomplete').removeAttr('style');

    // Show/Hide Existing & New Owner Forms
    addExistingBtn.addEventListener("click", function(){
        existingOwnerForm.style.display = "inline";
        newOwnerForm.style.display = "none";  
        addExistingBtn.classList.add("positive");
        addNewBtn.classList.remove("positive");      
    });

    addNewBtn.addEventListener("click", function(){
        newOwnerForm.style.display = "block";
        existingOwnerForm.style.display = "none";  
        addNewBtn.classList.add("positive");
        addExistingBtn.classList.remove("positive");      
    });
</script>

<% include ../partials/footer %>