<% include ../partials/header %>

<div class="ui main container">
    <div class="ui three ordered steps">
        <div id="ownerStep" class="completed step">
            <div class="content">
                <div class="title">Add Owner</div>
            </div>
        </div>
        <div id="petStep" class="active step">
            <div class="content">
                <div class="title">Add Pet</div>
            </div>
        </div>
        <div id="confirmStep" class="disabled step">
            <div class="content">
                <div class="title">Confirm Details</div>
            </div>
        </div>
    </div>
    <form class="ui form" action="/patients/register/confirm" method="POST">
        <div id="patientForm">
            <div class="three fields">
                <div class="field">
                    <label for="name">Pet Name</label>
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div class="field">
                    <label for="dob">Date of Birth</label>
                    <input type="date" name="dob" placeholder="Date of Birth">
                </div>
                <div class="field">
                    <label>Gender</label>
                    <select name="gender" class="ui search dropdown">
                        <option value="">Gender</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Type</label>
                    <select name="type" class="ui search dropdown">
                        <option value="">Type</option>
                        <option value="Dog">Dog</option>
                        <option value="Cat">Cat</option>
                    </select>
                </div>
                <div class="field">
                    <label for="Breed">Breed</label>
                    <input id="breedInput" type="text" name="breed" placeholder="Breed">          
                </div>
                <div class="field">
                    <label for="Color">Color</label>
                    <input type="text" name="color" placeholder="Color">
                </div>
            </div>
        
            <div class="three fields">
                <div class="field">
                    <label for="weight">Weight</label>
                    <div class="ui right labeled input">
                        <input type="number" name="weight" placeholder="Weight" min="1" step=".5">
                        <div class="ui basic label">lbs</div>
                    </div>
                </div>
                <div class="field">
                    <label for="avatar">Avatar</label>
                    <input type="file" name="avatar" placeholder="Pet Avatar">
                </div>
            </div>
            <div class="field">
                <button class="ui right floated right labeled icon green button">
                    <i class="right arrow icon"></i>
                    Review
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    // Dog Breeds from API
    var breedOptions = {
        url: function(phrase) {
            return "/alldogbreeds";
        },
        getValue: "name",
        list: {
            match: {
                enabled: true
            }
        }
    };

    $("#breedInput").easyAutocomplete(breedOptions);
    $('div.easy-autocomplete').removeAttr('style');
</script>

<% include ../partials/footer %>
