    <script src="/scripts/pawtal.js"></script>
    <%# <script src="/scripts/pagination.js"></script> %>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    </body>
</html>