<!DOCTYPE>
<html>
    <header>
        <title>Pawtal</title>
        <link rel="stylesheet" href="/lib/css/easy-autocomplete.min.css"> 
        <link rel="stylesheet" href="/lib/css/easy-autocomplete.themes.min.css">
        <link rel="stylesheet" type="text/css" href="/lib/semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script src="/lib/js/jquery.easy-autocomplete.min.js"></script>  
        <script src="/lib/semantic/dist/semantic.min.js"></script>
    </header>
    <body>
        <div class="ui top fixed menu">
            <div class="ui container">
                <a class="item" href="/patients">Pawtal</a>
                <div class="right menu">
                    <a class="item">Appointments</a>
                    <a class="item">Account</a>
                    <a class="item">Log Out</a>  
                </div>
            </div>       
        </div>