<!DOCTYPE>
<html>
    <header>
        <title>Pawtal</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </header>
    <body>
        <div class="ui top fixed menu">
            <div class="ui container">
                <a class="item" href="/patients">Pawtal</a>
                <div class="right menu">
                    <a class="item">Appointments</a>
                    <a class="item">Account</a>
                    <a class="item">Log Out</a>  
                </div>
            </div>       
        </div>