<!DOCTYPE>
<html>
    <header>
        <title>Pawtal</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </header>
    <body id="landingContainer">
        <div >
            <div class="ui stackable grid container">
                <div class="ten wide column">
                    <img class="ui fluid image" src="/landing/mainGraphic.png" alt="">
                </div>
                <div class="six wide column" id="landingHeader">
                    <img class="ui small centered image" src="/logo.png" alt="Pawtal Logo">
                    <h1>Hi, welcome to Pawtal.</h1>
                    <h3>You're a lifeline for our pets,<br>so we're here to be yours.</h3>
                    <a class = "ui green button" href="/appointments">Log In</a>
                    <a class = "ui blue button" href="">Create Account</a>
                </div>
            </div>
        </div>
    </body>
</html>