<!DOCTYPE>
<html>
    <header>
        <title>Pawtal</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    </header>
    <body>
            <h1>Welcome to Pawtal!</h1>
            <a href="/patients">View all patients</a>
            <a class = "ui green button" href="/appointments">Log In</a>
            <a class = "ui blue button" href="">Create Account</a>
    </body>
</html>