<% include ../partials/header %>

<h1>Start New Visit for <%= pet.name %></h1>
<form class="ui form" action="/patients/<%= pet._id %>" method="POST">
    <div class="two fields">
        <div class="field">
            <label for="date">Date</label> 
            <input type="date" name="date" placeholder="mm/dd/yy">
        </div>            
        <div class="field">
            <label for="time">Time</label>
            <input type="time" name="time" placeholder="">
        </div>
    </div>
    <div class="field">
        <label for="reason">Reason for Visit</label>
        <input type="text" name="reason">
    </div>
    <div class="field">
        <label for="weight">Weight</label>
        <div class="ui right labeled input">
            <input type="number" name="weight" placeholder="Weight" min="1" step=".5">
            <div class="ui basic label">lbs</div>
        </div>
    </div>
    <div class="field">
        <div id="modalButton" class="ui green button">
            Add Orders
        </div>
        <div class="ui modal">
            <i class="close icon"></i>
            <div class="header">
            Add Orders
            </div>
            <div class="content">
                <input id="ordersInput" type="text" placeholder="Add New Order">
                <input id="autocomplete-data" type="hidden">
                <ul id="selectedOrders"></ul>
            </div>
            <div class="actions">
                <div class="ui cancel button">Cancel</div>
                <div class="ui approve button">OK</div>
            </div>
        </div>
        <ul id="activeOrders">

        </ul>
    </div>
    <div class="field">
        <label for="diagnosis">Diagnosis</label>
        <input type="text" name="diagnosis" placeholder="Diagnosis">
    </div>
    <div class="field">
        <label for="notes">Notes</label>
        <input type="text" name="notes" placeholder="Notes">
    </div>
    <button class="ui right floated green button" type="submit">
        Submit
    </button>
</form>

<script>
    // modal script
    $('#modalButton').on('click', function(){
        $('.ui.modal').modal({
            onDeny: function(){
                $('.listedOrders').remove();
                event.stopPropagation();
            },
            onApprove: function() {
                var orders = $('.orderData');
                $('#activeOrders').html("");
                for(var i=0; i<orders.length; i++){
                    var parseOrder = JSON.parse(orders[i].value);
                    $('#activeOrders').append("<li>" + parseOrder.name + " || " + parseOrder.type + "<input class='approvedOrders' type='hidden' name ='orders' value='" + orders[i].value + "'></li>");
                }
            },
            onShow: function() {
                $('#selectedOrders').html("");
                var orderData = $('.approvedOrders');
                if(orderData && orderData.length > 0){
                    for(var i=0; i<orderData.length; i++){
                        var orderText = JSON.parse(orderData[i].value);
                        $("#selectedOrders").append("<li class='listedOrders'><span><i class='fa fa-trash-o'></i></span> " + orderText.name + "<input class='orderData' type='hidden' value='" + orderData[i].value + "'></li>");                    
                    }
                }                
            }
          })
        .modal('show')
    });

    //autocomplete orders
    var orderOptions = {
        url: function(phrase) {
            return "/allOrders";
        },
        getValue: "name",
        list: {
            onSelectItemEvent: function() {
                var orderObject = $("#ordersInput").getSelectedItemData().order;
                $("#autocomplete-data").val(JSON.stringify(orderObject)).trigger("change");
            },
            match: {
                enabled: true
            }
        }
    };

    $("#ordersInput").easyAutocomplete(orderOptions);
    $('div.easy-autocomplete').removeAttr('style');

    //add to list from input
    var isHidden = false;

    $("ul").on("click", "li", function(){
        $(this).toggleClass("completed");
    });

    $("ul").on("click", "span", function(event){
        $(this).parent().fadeOut(300, function(){
            $(this).remove();
        });
        //this stops any other events from bubbling up into parent elements
        event.stopPropagation();
    });

    $("#ordersInput").keypress(function(event){
        //"Enter" key has the character code of 13
        if(event.which === 13) {
            // orders.push($("#autocomplete-data").val()); 
            var orderData = $("#autocomplete-data").val();            
            var orderText = $(this).val();
            $("#selectedOrders").append("<li class='listedOrders'><span><i class='fa fa-trash-o'></i></span> " + orderText + "<input class='orderData' type='hidden' value='" + orderData + "'></li>");
            $(this).val("");
        }
    });

    $(".fa-plus").on("click", function(){
        $("#ordersInput").slideToggle(100, function(){
            if(isHidden) {
                isHidden = false;
                $("#ordersInput").focus();
            } else {
                isHidden = true;
            }
        });	
    });
</script>

<% include ../partials/footer %>