<% include ../partials/header %>

<div class="ui container">
        <h1>View all Patients</h1>
        
        <table class="ui selectable striped compact table">
            <thead>
                <tr>                     
                    <th>Patient</th>
                    <th>Type</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                <% pets.forEach(function(pet){ %>
                <tr>                   
                    <td><img class="ui avatar image" src="<%=pet.avatar%>" alt=""><%= pet.name %></td>
                    <td><%= pet.type %></td>
                    <td><%= pet.sex %></td>                     
                </tr>
                <% }); %>
            </tbody>
        </table>
</div>
    
<% include ../partials/footer %>