<% include ../partials/header %>

<div class="ui container">
        <h1>View all Patients</h1>
        
        <table class="ui striped compact table">
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Owner</th>
                    <th>Type</th>
                    <th>DOB</th>
                    <th>Last Visited</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Brick</td>
                    <td>Tiffany</td>
                    <td>Dog</td>
                    <td>3/2/2013</td>                    
                    <td>11/1/2017</td>
                </tr>
                <tr>
                    <td>Brick</td>
                    <td>Tiffany</td>
                    <td>Dog</td>
                    <td>3/2/2013</td>                    
                    <td>11/1/2017</td>
                </tr>
            </tbody>
        </table>
</div>
    
<% include ../partials/footer %>