<% include ../partials/header %>

    <div class="ui main container">
        <div class="ui three ordered steps">
            <div id="ownerStep" class="step">
                <div class="content">
                    <div class="title">Add Owner</div>
                </div>
            </div>
            <div id="petStep" class="step">
                <div class="content">
                    <div class="title">Add Pet</div>
                </div>
            </div>
            <div id="confirmStep" class="disabled step">
                <div class="content">
                    <div class="title">Confirm Details</div>
                </div>
            </div>
        </div>
        <div id="newOrExisitngBtns" class="ui buttons">
            <button id="addExistingBtn" class="ui button">Existing Owner</button>
            <div class="or"></div>
            <button id="addNewBtn" class="ui button">Add New Owner</button>
        </div>
        <form class="ui form" action="/patients" method="POST">
            <% include ../partials/ownerForms %>
            <% include ../partials/patientForm %>
            <div id="confirmPage" style="display:none">
                <h2>THIS IS THE CONFIRMATION SECTION</h2>
                <button class="ui right floated orange button">Submit</button>
            </div>
        </form>
    </div>

    <% include ../partials/footer %>