<% include ../partials/header %>

<div class="ui main container">
    <div class="ui grid">
        <div class="four wide column">
            <a class="ui blue button" href="/appointments/new"><i class="plus icon"></i> New Appointment</a>
            <div class="ui vertical fluid menu">
                <% appts.forEach(function(appt){ %>
                    <div class="item apptTabItem" data-tab="<%= appt._id %>">
                        <h4 class="ui header"><%= appt.patient.name %></h4>
                        <p><%= appt.date %> <%= appt.time %></p>
                    </div>
                <% }); %>
            </div> 
        </div>
        <div class="twelve wide stretched column apptPatientInfo">
        </div>
    </div>
</div>

<script>
    // tabbed menu
    // $('.menu .item').tab();
    // Get patient info and display on click
    $(".apptTabItem").on("click", function(){
        var apptId = $(this).attr("data-tab");

        $.get("/appointments/" + apptId, function(data){
            $(".apptPatientInfo").html(data);
        });
    });
</script>

<% include ../partials/footer %>