<% include ../partials/header %>

    <h1>Create New Appointment</h1>
    <form class="ui form" action="/appointments" method="POST">
        <div class="field">
            <label for="pet">Pet Name</label>
            <input id="patientsDb" type="text" placeholder="Pet Name || Owner Name">
            <input id="pet-data" type="hidden" name="pet">
        </div>
        <div class="two fields">
            <div class="field">
                <label for="date">Date</label> 
                <input type="date" name="date" placeholder="mm/dd/yy">
            </div>            
            <div class="field">
                <label for="time">Time</label>
                <input type="time" name="time" placeholder="">
            </div>
        </div>
        <div class="field">
            <label for="reason">Reason for Visit</label>
            <input type="text" name="reason">
        </div>
        <div class="field">
            <label for="notes">Notes</label>
            <input type="text" name="notes">
        </div>
        <button class="ui right floated green button" type="submit">
            Submit
        </button>
    </form>

<script>
    // Autocomplete Pet Names
    var petOptions = {
        url: function(phrase) {
            return "/allPetNames";
        },
        getValue: "name",
        list: {
            onSelectItemEvent: function() {
                var petObject = $("#patientsDb").getSelectedItemData().pet;
                $("#pet-data").val(JSON.stringify(petObject)).trigger("change");
            },
            match: {
                enabled: true
            }
        }
    };

    $("#patientsDb").easyAutocomplete(petOptions);
    $('div.easy-autocomplete').removeAttr('style');
    
</script>

<% include ../partials/footer %>